@{
    ViewBag.Title = "Hello";
    Layout = "_Layout";
}

<h2>Impressive Title</h2>
<p id ="indexGreeting">
    Hello World!
</p>

<button onclick="window.location.href = '@Url.Action("GetArticle","Article")'" type="button" id="btnGetArticle">Get Article</button>
