<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

@RenderBody()

<footer><a id="apiAttribution" href="https://newsapi.org">Powered by NewsApi.org</a></footer>
</body>
</html>