@model RONC.Models.ArticleViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      <h2 id="greeting">Article for you</h2>
</div>
</body>
</html>