@model RONC.Models.ArticleViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h2 id="greeting">Article for you</h2>
    <h3 id="articleTitle">@Model.Title</h3>
</div>
</body>
</html>